// COLOURS
// General
$black: #050505;
$gray: #343838;

// Blues
$blue-accent: #00DFFC;
$blue: #00B4CC;
$turquoise: #008C9E;
$blue-dark: #005F6B;

// BREAKPOINTS
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
)
